<head>
    <title>RequeX DNS</title>
    <meta charset="utf-8">
    <meta name="author" content="Jason Hunsberger, Elizabeth Shulok, Surya Nimmgadda, Aniruddh Nautiyal">
    <meta name="description" content="RequeX DNS is an intelligent DNS firewall that uses deep-learning models to block malicious domain requests.">

    <!-- Favicons for browser tab -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='css/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='css/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='css/favicon-16x16.png') }}">
    <link rel="manifest" href="{{url_for('static', filename='css/site.webmanifest') }}">
    <link rel="mask-icon" href="{{url_for('static', filename='css/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Font for main text -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <!-- Font for text on demo screen -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Doppio One">
    <!-- Font for headings -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
    <!-- Main style sheet -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {


            // Add smooth scrolling to all links
            $("a").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });

                    // Add active class to the current button (highlight it)
                    var header = document.getElementById("navigation");
                    var btns = header.getElementsByClassName("topnavbtn");
                    for (var i = 0; i < btns.length; i++) {
                        btns[i].addEventListener("click", function () {
                            var current = document.getElementsByClassName("active");
                            if (current.length > 0) {
                                current[0].className = current[0].className.replace(" active", "");
                            }
                            this.className += " active";
                        });
                    }

                } // End if
            });

        });


        $(function() {
            // if no multiclass return, hide results element

            var binaryResult = document.getElementById("binarytype");
            var classLabel = document.getElementById("DGAClassLabel");
            var multiclassType = document.getElementById("multitype");
            var predictionLabel = document.getElementById("DGAProbability");
            var predictionValue = document.getElementById("predictionprob");
            var maliciousSybol = document.getElementById("maliciousX");
            var benignSymbol = document.getElementById("benign");
            var urlString = document.getElementById("url");
            var typeLabel = document.getElementById("typeLabel");

            var resultString = multiclassType.innerHTML;

            // if multitype value is 1 or 0, then url is not malicious or no url has been submitted
            if (resultString.length < 2) {
                classLabel.style.visibility = "hidden";
                multiclassType.style.visibility = "hidden";
                predictionLabel.style.visibility = "hidden";
                predictionValue.style.visibility = "hidden";

                // if no binary results either
                if (binaryResult.innerHTML.length < 2) {
                    binaryResult.style.display = "none";
                    benignSymbol.style.display = "none";
                    maliciousSybol.style.visibility = "hidden";
                    urlString.style.visibility = "hidden";  // in case a previous url is displayed
                    typeLabel.style.visibility = "hidden";

                } else {
                    // This should be nonMalicious
                    typeLabel.style.visibility = "visible";
                    urlString.style.visibility = "visible";
                    benignSymbol.style.display = "inline";
                    maliciousSybol.style.display = "none";
                }
            } else {    // This is malicious
                typeLabel.style.visibility = "visible";
                urlString.style.visibility = "visible";
                binaryResult.style.visibility = "visible";  // always visible if there are any results
                classLabel.style.visibility = "visible";
                multiclassType.style.visibility = "visible";
                predictionLabel.style.visibility = "visible";
                predictionValue.style.visibility = "visible";
                benignSymbol.style.display = "none";
                maliciousSybol.style.display = "inline";
            }

        });


    </script>
</head>
<div class="topnav" id="navigation">

    <a class="topnavbtn" href="#team">Team</a>
    <a class="topnavbtn" href="#roadmap">Roadmap</a>
    <a class="topnavbtn" href="#model">Model</a>
    <a class="topnavbtn" href="#data">Data</a>
    <a class="topnavbtn" href="#solution">Solution</a>
    <a class="topnavbtn" href="#problem">Problem</a>
    <a class="topnavbtn" href="#demo">Demo</a>
    <a class="topnavbtn" href="#home">Home</a>

</div>

<body>
<section id="home"><br /></section>
<div class="firstpage">
    <h1>Reque<span class="logo">&#x2718;</span> DNS</h1>
    <h2 style="font-family: Roboto Slab"><span style="color: red;">Block</span> Malicious Domain Requests <i>Intelligently</i> </h2>
    <br /><br /><br />
    <a class="btnlarge" href="#demo"><b>Try Now >></b></a>

</div>



    <div class="black-group" id="demo">
        <h2>Demo</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">


                <div class="container">

                    <div class="demomain">
                        <p style="text-align: center">
                            Enter the name of a domain to test if Reque<span style="color: red;">&#x2718;</span> DNS would block access to it.
                        </p>
                        <br />
                        <form>
                            <div class="form-group">
                                <input type="text" name="URL_Binary" placeholder="Enter a domain name" autocomplete="off">
                                <button class="btn success" type="submit">Test</button>
                            </div>
                        </form>
                        <br/><br/>
                        <p id="url">{{binary_output.url}}</p>
                        <table class="metricstable" id="results">

                            <tr>
                                <td id="typeLabel">Type: </td>
                                <td>
                                    <span id="binarytype" class="resultstext">{{binary_output.type}}</span>
                                    <span id="benign" class="benign"> &#x2714;</span>
                                    <span id="maliciousX" class="malicious"> &#x2718;</span>
                                </td>
                            </tr>
                            <tr>
                                <td id="DGAClassLabel">DGA Class:</td>
                                <td id="multitype" class="resultstext">{{multi_output.type}}</td>
                            </tr>
                            <tr>
                                <td id="DGAProbability">Prediction Probability: </td>
                                <td id="predictionprob" class="resultstext">{{multi_output.probability}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p>
                    This demo shows the our classification model in action. In reality, this model would be integrated into our
                    full solution which is described in the sections below, and would be capable of handling thousands of requests
                    automatically.
                </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>


        <div style="text-align: center">
            <br /><br /><br /><br />
            <a class="btnlarge" href="#story"><b>Learn More >></b></a>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="problem">
        <h2 style="text-align: center">The Problem</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    Malware and hacking is an issue that affects all of society. In 2016 alone, <a href="https://www.whitehouse.gov/wp-content/uploads/2018/03/The-Cost-of-Malicious-Cyber-Activity-to-the-U.S.-Economy.pdf">cyber attacks cost the US economy over <b>$100B</b></a>.
                    These attacks not only affect the economy, but the general public as well.
                </p>
                <h3>A Story</h3>
                <p>
                    In September 2018, hurricane Florence struck the North Carolina shoreline. It brought Category-1 force winds and massive flooding.
                </p>

                <p><img class="displayed" src="{{url_for('static', filename='css/hurricane-florence.jpg') }}" alt="Hurricane Florence"></p>
                <figcaption>Source: Threat Post</figcaption>
                <p>Hackers also sensed an opportunity.</p>
                <p>
                    Their target was the <a href="https://www.onwasa.com/31/About-Us">Onslow Water and Sewer Authority</a>. ONWASA is responsible for providing clean water to 175,000 people in the region.
                    The hackers slipped the trojan-horse malware Emotet onto ONWASA’s network. Once established, Emotet contacted its remote command and control
                    servers and downloaded more malware. This malware contained ransomware which encrypted and locked all of ONWASA’s customer-facing systems –
                    in the middle of their disaster response!
                </p>
                <p>
                    The only way to recover them was for ONWASA to pay a ransom to the hackers. With no guarantee that the hackers would honor the
                    terms of their extortion, ONWASA refused to pay. They had to revert to responding to all requests using manual processes.
                    It took weeks for ONWASA to recover.
                </p>
                <p>
                    This story illustrates a common attack pattern for malware. Trojan-horse malware will infect a single system on a network.
                    It then contacts its command and control servers for new instructions. Once it has infected enough systems,
                    then the trojan is given new malware to execute across the infected network.
                </p>

                <p>
                    The cyber attack experienced by ONWASA is just one of many similar attacks. There are two key aspects to these attacks which are described below.
                </p>
                <h3>Command and Control Servers</h3>
                <p>
                    This diagram from US-CERT shows how Emotet and similar malware works. We have highlighted in green a key step in Emotet’s attack sequence:
                    its communication with command and control servers.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/emotet_infection_process.png') }}"
                         alt="Emotet infection process">
                    <figcaption>Source: US-CERT, emphasis on step 3 added</figcaption>
                </p>

                <p>
                    Communication with command and control servers (C2 servers) allows malware to download new attack instructions or to monetize their botnet by selling
                    access to the network of infected computers. It was this capability that downloaded the ransomware that caused the most acute trouble for ONWASA.
                </p>

                <h3>Domain Generation Algorithm (DGA)</h3>
                <p>
                    Emotet is one of many malware variants that utilize a domain generation algorithm (DGA) to evade
                    established malware protection strategies. These domain generating algorithms can create thousands of domains per
                    day. The typical operation of DGA-based malware is depicted in the diagram below.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/dga_algorithm.png') }}" alt="DGA-based malware operation">
                </p>
                <p>
                    <ul style="list-style-type: circle">
                        <li>Step 1: The malware sends requests to a DNS server to see if a generated domain exists.</li>
                        <li>Step 2: The DNS server responds with an IP address, or a message that the domain does not exist.</li>
                        <li>Step 3: Once the malware has the IP address, the malware can then request update.</li>
                        <li>Step 4: The C2 server sends an update which launches the next phase of the attack.</li>
                    </ul>
                </p>
                <p>
                    The vast majority of DGA domains do not exist. But that is not a problem for the malware operator. They only need to register a small
                    percentage of the domains for the malware to connect successfully to its C2 server.
                </p>
                <p>
                    Traditionally, security teams use blacklists to block these communications. Unfortunately, blacklists are not effective against
                    domain generating algorithms: there are thousands of domains being generated every day.
                </p>

            </div>
            <div class="column side">
                <br />
            </div>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="solution">
        <h2 style="text-align: center">Solution</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    To solve the problems presented by malware that uses domain generation algorithms, our team is building Reque<span style="color: red;">&#x2718;</span> DNS -
                    an intelligent DNS firewall with an integrated deep-learning model that can block requests to algorithm-generated domains. This blockage prevents
                    the malware from communicating with its C2 server.
                </p>

                <p>
                    Most DNS servers do not block traffic, and most DNS firewalls only use blacklists of known malicious
                    domain names to determine if a domain is malicious or benign.
                </p>
                <p>
                    Below is an updated diagram illustrating how our solution works.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/requex_diagram.png') }}" alt="DNS solution that halts communication with C2 servers">
                </p>
                <p><ul style="list-style-type: circle">
                    <li>Step 1: The malware sends requests to a DNS server to see if a generated domain exists.</li>
                    <li>Step 2: The DNS server analyzes the domain request with our deep-learning model and determines that the domain is malicious. It responds the same as if
                        the domain did not exist.</li>

                </ul></p>
                <p>
                    The malware-infected computer never receives the IP address of the C2 server so no additional malware is downloaded.  In ONWASA’s case,
                    Reque<span style="color: red;">&#x2718;</span> DNS would have prevented the infection with the ransomware.
                </p>

                <h3>Architecture</h3>
                <p>Below is a high level diagram of our solution's architecture. </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/architecture.png') }}" alt="RequeX architecture" width="1210">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    The Reque<span style="color: red;">&#x2718;</span> architecture has three layers - training, inference, and the application.
                </p>
                <p>
                    One of the important aspects of this problem space is that the malware keeps transforming with new algorithms, so the models and inferences
                    need to be up to date for the DNS server to be effective in blocking the malicious domains. We use a layered architecture that can keep up
                    with the changing datasets and evolving models, while keeping the application interface the same.
                </p>
                <p>
                    In the <i>training</i> layer, we have a pipeline to collect the data from different sources and then cleanup and merge them into a single dataset.
                    This data is used to train our models. The trained models are evaluated and the best models are updated to the inference layer.
                </p>
                <p>
                    In the <i>inference</i> layer, the model is served in an inference engine using an Apache Storm based pipeline which listens on a Kafka bus for new requests.
                    The inferences include a binary classification of whether a domain is malicious or benign, and a sub-classification of the malicious domains.
                    These inferences are published on the Kafka bus to serve applications.
                </p>
                <p>
                    In the <i>application</i> layer, we have DNS resolvers with a frontend load balancer and a DNS Master. These servers connect to the
                    inference layer using the Kafka bus with different topics.
                </p>
                <p>
                    When a computer is configured with our Reque<span style="color: red;">&#x2718;</span> DNS server, the requests are sent to one of these DNS resolvers.
                    The resolvers publish any non-cached domains on a topic on a topic to the Kafka bus served by the inference engine. The inference engine responds with the
                    responses on the Kafka bus with another topic.
                    The DNS master listens to these topics and updates its Response Policy Zone (RPZ) list and publishes them to the DNS resolvers.
                </p>

                <h3>Training Pipeline</h3>
                <p>The diagram below shows the steps from importing raw data from Cisco Umbrella and Bambenek Consulting to training our model files.</p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/datapipeline.png') }}" alt="RequeX training pipeline" width="1210">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>Python scripts automate the training pipeline, from data collection to model evaluation.</p>
                <h3>Inference Pipeline</h3>
                <p>The inference pipeline diagram provides a detailed look at how a domain name is predicted and classified in the Reque<span style="color: red;">&#x2718;</span> DNS system.</p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">
            <p>
                <img class="displayed" src="{{url_for('static', filename='css/inferencepipeline.png') }}" alt="RequeX training pipeline" width="1210">
            </p>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <h3>Serving Applications</h3>
                <p>The inference engine, which runs on Flask, provides REST apis to the models, which are used to serve the web interface used in the demo.

                    It is packaged in a docker container and can be launched in any cloud environment.
                    </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/servingapplication.png') }}" alt="RequeX training pipeline" width="1210">
                </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 10%; margin-right: 10%">

        </div>

    </div>
    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="data">
        <h2>Exploratory Data Analysis</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <h3>Datasets</h3>
                <p>
                    Our data came from two main sources: the free <a href="http://s3-us-west-1.amazonaws.com/umbrella-static/index.html">Cisco Umbrella</a> list of the top million domain
                    names by popularity, which we assumed to be benign, and Bambenek Consulting's feeds of
                    recent DGA domains. For the Bambenek list, we used both the default (or mixed) confidence feed,
                    and the high confidence feed. We analyzed a total of 1.36M domain names, 1 million benign (73.5%)
                    and 360k malicious (26.5%).
                </p>
                <h3>Analysis</h3>
                <p>
                    We performed some EDA on the datasets to see if there were obvious differences in the names of the DGA domains and the
                    benign domains. A few differences were apparent. Although we did not ultimately use the EDA for feature engineering,
                    it served as a way to confirm the datasets should be different enough to predict using machine learning.
                </p>
                <p class="subheading">Character Frequency Analysis</p>
                <p>The following chart shows the character frequencies of the characters in each domain name set. The values have been normalized to account for the
                    different sizes of the datasets, while showing the different patterns of letter frequencies.</p>

                <p>
                <img class="displayed" src="{{url_for('static', filename='css/letter_count_all_separate.png') }}" alt="Character analysis">
            </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>

        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p>
                    The data sets have distinct differences in frequency counts. There are far more j's, q's, x's and z's in the malicious
                    domain names than in the benign ones. There are also no dashes in the malicious domain names and far more periods in the
                    benign dataset.
                </p>
                <p class="subheading">Hierarchy  Count Analysis</p>
                <p>
                    We calculated the hierarchy  count for each domain name. Amazon.com would have a hierarchy count of 2, while pages.github.com
                    would have a count of 3. The following histograms compare the three datasets by heirachy count.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/hierarchy_count_colored.png') }}" alt="Hierarchy  analysis">
                </p>
                <p>
                    The one feature that jumps out is that benign domain names are more likely to have higher heirarchies than the malicious domain names,
                    while the malicious DGA domains predominantly have hierarchy  counts of 2. This matches what we saw above, that benign domain
                    names have far more periods in them.
                </p>
                <div class="column side">
                    <br />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">
                <p class="subheading">Domain Name Length Analysis</p>
                <p>We also compared the name lengths of the domains in the datasets. The histograms below show the distribution of domain name lengths for the different datasets.</p>
                <p>
                <img class="displayed" src="{{url_for('static', filename='css/domain_length_separate.png') }}" alt="Character analysis">
            </p>
            </div>
            <div class="column side">
                <br />
            </div>
        </div>

        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

                <p>
                    The distribution of benign domain names is a fairly standard distribution that peaks
                    around 16 characters. Both the mixed and high confidence datasets have a second peak around 30 characters. You can also see
                    that domain names of lengths less than 10 characters or greater than 33 are more likely to be benign than malicious.
                </p>
                <p class="subheading">Top Level Domain Analysis</p>
                <p>
                    The top level domains of .com, .net and .org were the top three for each dataset. The charts below show the relative
                    frequency of the 15 most common top level domains. Each chart shows the top 15 ordered by one of the datasets, with the
                    other two datasets shown in grey for comparison.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/tld_top_cisco2.png') }}" alt="Top level domain frequencies">
                    <img class="displayed" src="{{url_for('static', filename='css/tld_top_dlg2.png') }}" alt="Top level domain frequencies">
                    <img class="displayed" src="{{url_for('static', filename='css/tld_top_dlg3.png') }}" alt="Top level domain frequencies">
                </p>
                <p>
                    Of special note is that .ru (for Russia) is the 4th most common top level domain in the Cisco Umbrella set. The .biz domain
                    is also far more common in the malicious datasets. And especially interesting is that the .pw domain is the 6th most common
                    top level domain for the malicious data sets, given that it is the country code top-level domain for Palau, an island nation
                    with a population size of roughly 22,000.
                </p>

                <p class="subheading">Distinct Word Analysis</p>
                <p>
                    We also explored Natural Language Processing techniques to segment the domain labels further into smaller chunks of meaningful words,
                    to see if some metrics based on such segmentation are able to show any appreciable difference between the DGA and benign categories.
                </p>
                <p>The strongest signal we found is in the number of distinct words in the domain name, normalized by the domain length.
                    There is at least an order of difference between the two categories.</p>
                <p>
                    Other metrics, such as raw/normalized scoring based on vocabulary contexts and raw count of or normalized number of digit characters
                    in the domain name don't seem to offer any appreciable differentiation between the DGA and benign domains.</p>

                <p>Below you will see how DGA and benign domains compared in number of distinct words, normalized by domain length. Both linear and log
                    results are shown.</p>

            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div><img class="displayed" src="{{url_for('static', filename='css/requex_sbs_normalized_number_of_distinct_words.png') }}" alt="Normalized Number of Distinct Words"></div>

        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

            </div>
            <div class="column side">
                <br />
            </div>
        </div>
    </div>

    <div class="main">
        <section></section>
    </div>

    <div class="black-group" id="model">
        <h2>Our Model</h2>
        <div class="row">
            <div class="column side">
                <br />
            </div>
            <div class="column middle">

                <h3>Objective</h3>

                <p>
                    Our main objective was to predict whether a domain name represented a malicious website or
                    a benign one, with an accuracy rate close to 99%. Our second objective was to predict the DGA class of domain names deemed
                    malicious. And our third objective was to minimize our false positive rate so as not to block benign websites.
                </p>

                <h3>The Machine Learning Model</h3>
                <p>
                    We wanted a model that can learn to capture the mechanism generating the sequence of characters in the domain name, but not necessarily memorize it.
                    A long short-term memory (LSTM) model is suited for this. Employing an LSTM model avoids the vanishing gradients problem common with recurrent neural networks.
                </p>
                <p>
                    When our DNS server gets a domain name request, the process for classifying the domain goes like this:
                    <ol style="list-style-position: inside; padding-left: 12px;">
                        <li>We convert the domain name characters into integer sequences based on a dictionary of characters, a process known as tokenization.</li>
                        <li>The tokenized sequence goes through a character-level embedding layer which is then sent to the LSTM layer.</li>
                        <li>Finally, some dropout is applied.</li>
                    </ol>

                    Building upon this framework, we first have a binary, benign/malicious model to allow or block the domain request.
                    A second model, used for DGA categorization, works to classify the domain to one of 50+ DGA malware categories

                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/tokenizing.png') }}" alt="Tokening of domain names">
                </p>
                <p>
                    We created binary and multi-class LSTM models. After evaluating these LSTM models, we compared their performance against a baseline logistic regression model,
                    which performed significantly worse for classifying domain names.
                </p>
                <p>
                    <img class="displayed" src="{{url_for('static', filename='css/modeling_diagram.png') }}" alt="Binary and Multiclass models diagram">
                </p>
                     <h3>Model Metrics</h3>
                    <p>
                        In cybersecurity, it is important to have high accuracy in order to prevent incorrect blockages. Our binary model (that either
                        allows or blocks an incoming domain request) achieves approximately <b>98.9%</b> accuracy on our test data.</p>

                <p>This accuracy is even maintained over time. With a model we trained using data from October, we were able to achieve 97.6% accuracy on data from four weeks later.
                    The one area the October model struggled with was new malware categories. This will require us to keep our models up-to-date with the latest data.
                </p>
                <p>Another important metric is the false positive rate - the number of benign domains getting classified as malicious, and hence blocked. A high false positive
                    rate would cause legitimate sites to be blocked. This would lead to a frustrating user experience and severely limit our product’s uptake.
                </p>
                <p>Our binary model achieves a 0.7% False Positive rate. In other words, for every 1000 requests processed, 7 benign domains are classified as malicious.
                    While this is not too bad at this early stage, we want to get the False Positive rate even lower. Some research shows we can get it close to 1 in 10,000 with sufficient training data.
                </p>
                <p>
                    The resulting metrics for the 3 models we evaluated are listed in the table and chart below.
                </p>
                <p>
                    <table class="metricstable">
                        <tr>
                            <th>Metric</th>
                            <th>LSTM Binary</th>
                            <th>LSTM Multiclass</th>
                            <th>Logistic Regression</th>
                        </tr>
                        <tr>
                            <td>Accuracy</td>
                            <td>{{binary_metrics.accuracy}}</td>
                            <td>{{multi_metrics.accuracy}}</td>
                            <td>{{lr_metrics.accuracy}}</td>
                        </tr>
                        <tr>
                            <td>Precision</td>
                            <td>{{binary_metrics.precision}}</td>
                            <td>{{multi_metrics.precision}}</td>
                            <td>{{lr_metrics.precision}}</td>
                        </tr>
                        <tr>
                            <td>Recall</td>
                            <td>{{binary_metrics.recall}}</td>
                            <td>{{multi_metrics.recall}}</td>
                            <td>{{lr_metrics.recall}}</td>
                        </tr>
                        <tr>
                            <td>F1 Score</td>
                            <td>{{binary_metrics.f1score}}</td>
                            <td>{{multi_metrics.f1score}}</td>
                            <td>{{lr_metrics.f1score}}</td>
                        </tr>
                        <tr>
                            <td>False Positives</td>
                            <td>{{binary_metrics.fp}}</td>
                            <td>{{multi_metrics.fp}}</td>
                            <td>{{lr_metrics.fp}}</td>
                        </tr>
                        <tr>
                            <td>False Negatives</td>
                            <td>{{binary_metrics.fn}}</td>
                            <td>{{multi_metrics.fn}}</td>
                            <td>{{lr_metrics.fn}}</td>
                        </tr>
                    </table>
                </p>
                <p>As shown above, our binary model performs the best, followed by our multiclass model (due to multiple classification categories)
                    while the baseline logistic regression model lags substantially behind. Not only is the accuracy much lower, the logistic regression model is
                    6 to 7 times worse on False Positives.
                </p>

            </div>
            <div class="column side">
                <br />
            </div>
        </div>
        <div style="margin-left: 15%; margin-right: 15%"><p>
            <img class="displayed" src="{{url_for('static', filename='css/model_metrics.png') }}" alt="Model metrics chart">
        </p>
            </div>
    </div>

<div class="main">
    <section></section>
</div>

<div class="black-group" id="roadmap">
    <h2>Roadmap</h2>
    <div class="row">
        <div class="altcolumn side">
            <br />
        </div>
        <div class="altcolumn middle">
            <table class="twocoltable">
                <tr>
                    <th>MVP Roadmap</th>
                    <th>Post-MVP Roadmap</th>
                </tr>
                <tr>
                    <td>
                        <p><span style="color: #4CAF50">&#x2714; </span>  Select data sources </p>
                        <p><span style="color: #4CAF50">&#x2714; </span>  Build binary and multiclass models</p>
                        <p><span style="color: #4CAF50">&#x2714; </span>  Build solution architecture</p>
                        <p>
                            <span style="color: #4CAF50">&#x2714; </span>  Automate:
                            <ul class="a">
                                <li>data collection</li>
                                <li>model training</li>
                                <li>model evaluation</li>
                            </ul>
                        </p>
                        <p><span style="color: #4CAF50">&#x2714; </span>  Build demonstration UI (requex.net)</p>
                        <p>&#x2B55; Integrate solution into DNS infrastructure</p>
                        <p>&#x2B55; Deploy to first customer and evaluate</p>

                    </td>
                    <td>
                        <p>&#x2B55; Build customer reporting and customization portal</p>
                        <p>&#x2B55; Diversify our DGA threat intelligence data</p>
                        <p>&#x2B55; Build new binary and multiclass models</p>
                        <p>&#x2B55; Scale our infrastructure</p>

                    </td>
                </tr>

            </table>
            
        </div>

        <div class="altcolumn side">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="column side">
            <br />
        </div>
        <div class="column middle">
            <p>Our team has made significant progress towards our MVP. You can see our progress above.</p>
            <p>Our next phase is to focus on integrating our models into our DNS infrastructure. From there, we need to find a customer willing to try our solution.</p>
            <p>
                Beyond our MVP, we have plans to build a customer portal for reporting and customization. We also want to diversify our training data and build more sophisticated models.
                We anticipate malware will soon use more complex domain generating algorithms and we want to be ready for them.
            </p>
            <p>Ultimately, we will need to scale our infrastructure to take on more customers.</p>

            <h3>Next Steps</h3>
            <p>
                We are looking for partners who can:
                <ul>
                    <li>Provide more labeled known-good or known-malicious data feeds</li>
                    <li>Lend a hand with DNS expertise</li>
                    <li>Connect us with potential first customers</li>
                    <li>Expand the Reque<span class="logo">&#x2718;</span> DNS team</li>
                    <li>Fund us!</li>
                </ul>
            </p>
        </div>
        <div class="column side">
            <br />
        </div>
    </div>



        <div class="white-group" id="team">
            <h2 style="text-align: center; color: black;">Our Team</h2>
            <table style="width: 100%">
                <tr>
                    <td><img src="{{url_for('static', filename='css/jhunsberger.png') }}" alt="Jason Hunsberger"></td>
                    <td><img src="{{url_for('static', filename='css/aniruddh.png') }}" alt="Aniruddh Nautiyal"></td>
                    <td><img src="{{url_for('static', filename='css/surya.png') }}" alt="Surya Nimmagadda"></td>
                    <td><img src="{{url_for('static', filename='css/liz.png') }}" alt="Elizabeth Shulok"></td>
                </tr>
                <tr>
                    <td style="font-size: 18px; font-weight: bold; color: black">Jason Hunsberger</td>
                    <td style="font-size: 18px; font-weight: bold; color: black">Aniruddh Nautiyal</td>
                    <td style="font-size: 18px; font-weight: bold; color: black">Surya Nimmagadda</td>
                    <td style="font-size: 18px; font-weight: bold; color: black">Elizabeth Shulok</td>
                </tr>
                <tr>
                    <td style="font-size: 17px; font-style: italic; color: black">Digital Product Manager</td>
                    <td style="font-size: 17px; font-style: italic; color: black">Staff Test Engineer</td>
                    <td style="font-size: 17px; font-style: italic; color: black">Distinguished Engineer</td>
                    <td style="font-size: 16px; font-style: italic; color: black">Principal Engineer</td>
                </tr>
                <tr>
                    <td style="font-size: 17px; font-weight: bold; color: #595959;">Boston Area Non-profit</td>
                    <td style="font-size: 17px; font-weight: bold; color: #595959;">Cypress Semiconductor</td>
                    <td style="font-size: 17px; font-weight: bold; color: #595959;">Juniper Networks</td>
                    <td style="font-size: 16px; font-weight: bold; color: #595959;">Autodesk</td>
                </tr>
                <tr>
                    <td><a href="https://www.linkedin.com/in/jnhunsberger/"><img src={{url_for('static', filename='css/In-Black-14px.png') }} alt="LinkedIn"></a></td>
                    <td style="font-size: 17px; font-weight: bold; color:#595959;"></td>
                    <td><a href="https://www.linkedin.com/in/surya-nimmagadda-301b195/"><img src={{url_for('static', filename='css/In-Black-14px.png') }} alt="LinkedIn"></a></td>
                    <td>
                        <a href="https://www.linkedin.com/in/eshulok/"><img src={{url_for('static', filename='css/In-Black-14px.png') }} alt="LinkedIn"></a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="black-group" id="thankyou">
            <h2>Thank you</h2>
            <div class="row">
                <div class="altcolumn side">
                    <br />
                </div>
                <div class="altcolumn middle">
                    <p>We would like to extend our deepest thanks to the following for their insight, support, data and time.</p>

                    <table class="twocoltable">
                        <tr>
                            <td>
                                <p style="font-weight: bold; font-size: 150%">Paul Vixie</p>
                                <p>CEO, Farsight Security</p>
                                <br />
                                <p style="font-weight: bold; font-size: 150%">John Bambenek</p>
                                <p>Bambenek Consulting</p>
                                <br />
                                <p style="font-weight: bold; font-size: 150%">Joyce Shen</p>
                                <p>UC Berkeley and Tenfore Holdings</p>
                                <br />
                                <p style="font-weight: bold; font-size: 150%">David Steier</p>
                                <p>UC Berkeley and Carnegie Mellon</p>

                            </td>
                            <td>
                                <p style="font-weight: bold; font-size: 150%">Cisco Umbrella</p>
                                <p>Daily top 1 million domains</p>
                                <br />
                                <p style="font-weight: bold; font-size: 150%">Endgame, Inc</p>
                                <p>Research on using LSTMs for Domain Generating Algorithms</p>
                            </td>

                    </table>

                </div>
                <div class="altcolumn side">
                    <br />
                </div>
            </div>


        </div>
</body>